div.celeb-container h1 {
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    
    margin: 1.2rem 0.2rem;
}

div.celeb-container p {
    font-size: 14px;
    margin: 0.5rem auto;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

div.celeb-container a {
    color: #81CACF;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

div.celeb-container a:hover {
    color: #FFEA11;
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    div.celeb-container h1 {
        font-size: 52px;
    }

    div.celeb-container p {
        font-size: 24px;
    }
}

@media only screen and (min-width: 992px) {
    div.celeb-container h1 {
        font-size: 44px;
    }

    div.celeb-container p {
        font-size: 16px;
    }
}