header.header {
    border: 1px solid #81CACF;
    border-left: none;
    border-right: none;
    margin: 10px auto;
    width: 80%;
}
header.header h1 {
    margin: 10px auto;
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
}

.fa-circle-dollar {
    font-size: 16px;
    margin-right: 3px;
}

.header span.left {
    font-size: 16px;
    float: left;
    margin: 14px 8px 14px;
    font-family: 'Roboto Slab', serif;
}

.header span.right {
    font-size: 16px;
    float: right;
    margin: 14px 8px 14px;
    font-family: 'Roboto Slab', serif;
}

.fa-heart {
    margin-right: 15px;
    
}

.fa-heart:hover, .fa-chart-simple:hover, .fa-circle-info:hover {
    cursor:pointer;
}

/* .fa-solid:hover {
    cursor:pointer
} */
@media only screen and (max-width: 320px) {
    header.header h1 {
        margin: 10px auto;
        font-size: 20px;
    }

    .header span.left, .header span.right {
        font-size: 10px;
        margin: 16px auto;
    }
}

@media only screen and (min-width: 600px) {
    header.header h1 {
        margin: 16px auto;
        font-size: 40px;
    }

    .header span.left, .header span.right {
        font-size: 28px;
        margin: 20px 24px 20px;
    }

    .fa-circle-dollar {
        font-size: 24px;
        margin-right: 5px;
    }
}

@media only screen and (min-width: 992px) {
    header.header h1 {
        margin: 14px auto;
        font-size: 32px;
    }

    .header span.left, .header span.right {
        font-size: 24px;
        margin: 18px 24px 18px;
    }

    .fa-circle-dollar {
        font-size: 20px;
        margin-right: 4px;
    }
}

h1 span.green {
    color: #5A8F7B;
}

h1 span.gold {
    color: #FFEA11;
}