section.celeb-container h2 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0.8rem 0.2rem;
}

section.celeb-container p {
    font-size: 14px;
    margin: 0.5rem auto;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin: 0.3rem auto;
}

@media only screen and (max-width: 320px) {
    section.celeb-container h2 {
        margin: 8px auto;
    }

    section.celeb-container p {
        font-size: 12px;
        margin: 0.5rem auto;
    }
}

@media only screen and (min-width: 600px) {
    section.celeb-container h2 {
        font-size: 52px;
    }

    section.celeb-container p {
        font-size: 24px;
        margin: 0.5rem auto;
    }
}

@media only screen and (min-width: 992px) {
    section.celeb-container h2 {
        font-size: 44px;
        margin: 1rem auto;
    }

    section.celeb-container p {
        font-size: 16px;
    }
}