.keyboard {
    position: fixed;
    width: 350px;
    bottom: 0;
    text-align: center;
    padding: 0;
    left: 50%;
    margin-left: -175px;
}


.keyboard-row {
    display: block;
}

button.keyboard-button {
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    font-size: 20px;
    width: 104px;
    height: 40px;
    margin: 2px;
    color: #FFF;
    background-color: #355764;
    border-radius: 10px;
    border: 1px solid #81CACF;
}

button.keyboard-button:hover {
    color: #355764;
    background-color: #FFF;
}

.correct {
    background-color: #5A8F7B!important;
    color: #D3D3D3!important;
}
  
.present {
    background-color: #FFEA11!important;
    color: #A9A9A9!important;
}
  
.absent {
    background-color: #373737!important;
    color: #D3D3D3!important;
}

@media only screen and (max-width: 320px) {
    .keyboard {
        width: 280px;
        margin-left: -140px;
    }

    button.keyboard-button {
        font-size: 16px;
        height: 32px;
        width: 68px;
        border: 2px solid #81CACF;
    }
}

@media only screen and (min-width: 600px) {
    .keyboard {
        width: 600px;
        margin-left: -300px;
    }

    button.keyboard-button {
        font-size: 40px;
        height: 88px;
        width: 176px;
        border: 2px solid #81CACF;
    }
}

@media only screen and (min-width: 992px) {

    button.keyboard-button {
        font-size: 32px;
        height: 52px;
        width: 124px;
    }

}
